<!DOCTYPE html>
<html>

<head>
    <title>Ignite UI Boilerplate</title>

    <!-- JavaScript Library Dependencies for Ignite UI -->
    <script src="http://modernizr.com/downloads/modernizr-latest.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

    <!-- Ignite UI Combined JavaScript Files -->
    <!-- Get Your Licensed Version And/Or Custom Downloads Here: https://igniteui.com/download  -->
    <script src="http://cdn-na.infragistics.com/igniteui/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/latest/js/infragistics.lob.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/latest/js/infragistics.dv.js"></script>

    <!-- Ignite UI Required Combined CSS Files -->
    <link href="http://cdn-na.infragistics.com/igniteui/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet">
    <link href="http://cdn-na.infragistics.com/igniteui/latest/css/structure/infragistics.css" rel="stylesheet">
    <style>
        /* Your page-specific CSS goes here. Feel free to modify this style block or replace with
		a link to a stylesheet(s). */
        
        html {
            font: 13px sans-serif;
        }
        
        .sample-container {
            max-width: 700px;
        }
        
        .sample-container > h2 {
            margin-top: 20px;
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <div class="you-can-remove-everything-inside-this-tag">
        <h1>You&apos;re Good to Go with the Latest Ignite UI! Enjoy!</h1>
        <p>You may want to replace the Ignite UI script references with your own licensed versions from
            <a href="https://igniteui.com/download" target="_blank">https://igniteui.com/download</a>.</p>
        <p>To learn more about this boilerplate and more, <a href="http://igniteui.com/getting-started" target="_blank">Get Started with Ignite UI</a></p>
        <div class="sample-container">


        </div>
</body>

</html>