<!DOCTYPE html>
<html>
<head>
	<title>Ignite UI Boilerplate</title>

	<!-- JavaScript Library Dependencies for Ignite UI -->
	<script src="http://modernizr.com/downloads/modernizr-latest.js"></script>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

	<!-- Ignite UI Combined JavaScript Files -->
	<!-- Get Your Licensed Version And/Or Custom Downloads Here: https://igniteui.com/download  -->
	<script src="http://cdn-na.infragistics.com/igniteui/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2015.2/latest/js/infragistics.lob.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/latest/js/infragistics.dv.js"></script>

	<!-- Ignite UI Required Combined CSS Files -->
	<link href="http://cdn-na.infragistics.com/igniteui/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
    <link href="http://cdn-na.infragistics.com/igniteui/latest/css/structure/infragistics.css" rel="stylesheet" />
	<style>
		/* Your page-specific CSS goes here. Feel free to modify this style block or replace with
		a link to a stylesheet(s). */
		html {
			font: 13px sans-serif;
		}
		.sample-container {
			max-width: 700px;
		}
		.sample-container > h2 {
			margin-top: 20px;
			margin-bottom: 5px;
		}
	</style>
</head>
<body>
	<div class="you-can-remove-everything-inside-this-tag">
		<h1>You're Good to Go with the Latest Ignite UI! Enjoy!</h1>
		<p>You may want to replace the Ignite UI script references with your own licensed versions from
		<a href="https://igniteui.com/download" target="_blank">https://igniteui.com/download</a>.</p>
		<p>To learn more about this boilerplate and more, <a href="http://igniteui.com/getting-started"
			target="_blank">Get Started with Ignite UI</a></p>
		<div class="sample-container">
			<h2>Sample <a href="http://igniteui.com/data-chart/overview" title="Learn More" target="_blank">Ignite UI Data Chart</a></h2>
			<div id="igniteChart"></div>
			<h2>Sample <a href="http://igniteui.com/grid/overview" title="Learn More" target="_blank">Ignite UI Data Grid</a></h2>
			<div id="igniteGrid"></div>
		</div>
	</div>

	<script>
		$(function () {
			/* JavaScript in this function will be executed on jQuery Document Ready event.
			Learn more about this event: http://learn.jquery.com/using-jquery-core/document-ready  */


			// --- BEGIN SAMPLE SCRIPT YOU CAN REMOVE OR MODIFY --- //

			/* Code in this block is here only to provide sample usage of Ignite UI.
			Feel free to remove or modify however you like. */

			// Sample Data
			var populationData = [
				{ "CountryName": "China", "1995": 1216, "2005": 1303, "2015": 1361, "2025": 1394 },
				{ "CountryName": "India", "1995": 920, "2005": 1127, "2015": 1251, "2025": 1396 },
				{ "CountryName": "United States", "1995": 266, "2005": 296, "2015": 322, "2025": 351 },
				{ "CountryName": "Indonesia", "1995": 197, "2005": 224, "2015": 256, "2025": 277 },
				{ "CountryName": "Brazil", "1995": 161, "2005": 186, "2015": 204, "2025": 218 },
				{ "CountryName": "Russian Federation", "1995": 148, "2005": 143, "2015": 141, "2025": 137 },
				{ "CountryName": "Pakistan", "1995": 127, "2005": 158, "2015": 178, "2025": 198 },
				{ "CountryName": "Japan", "1995": 124, "2005": 128, "2015": 132, "2025": 136 },
				{ "CountryName": "Bangladesh", "1995": 117, "2005": 143, "2015": 168, "2025": 196 },
				{ "CountryName": "Nigeria", "1995": 105, "2005": 140, "2015": 174, "2025": 201 },
				{ "CountryName": "Mexico", "1995": 94, "2005": 111, "2015": 128, "2025": 145 },
				{ "CountryName": "Germany", "1995": 81, "2005": 82, "2015": 83, "2025": 85 },
				{ "CountryName": "Vietnam", "1995": 71, "2005": 82, "2015": 94, "2025": 106 }
			];

			// Sample Ignite UI Data Chart
			$("#igniteChart").igDataChart({
				width: "100%",
				height: "300px",
				title: "Population per Country",
				subtitle: "Five largest projected populations for 2015",
			    dataSource: populationData.slice(0,5), // select top five
			    axes: [{
			    	name: "NameAxis",
			    	type: "categoryX",
			    	title: "Country",
			    	label: "CountryName"
			    }, {
			    	name: "PopulationAxis",
			    	type: "numericY",
			    	minimumValue: 0,
			    	title: "Projected Population (Millions of People)",
			    }],
			    series: [{
			    	name: "2015Population",
			    	title: "2015 Projected Population",
			    	type: "column",
			    	isHighlightingEnabled: true,
			    	isTransitionInEnabled: true,
			    	transitionInMode: "accordionFromValueAxisMinimum",
			    	transitionSpeedType: "normal",
			    	transitionInEasingFunction: "linear",
			    	showTooltip: true,
			    	tooltipTemplate: "<div>${item.CountryName}: <strong>${item.2015} Million</strong></div>",
			    	xAxis: "NameAxis",
			    	yAxis: "PopulationAxis",
			    	valueMemberPath: "2015"
			    }]
			});

			// Sample Ignite UI Data Grid
			$("#igniteGrid").igGrid({
				width: "100%",
				dataSource: populationData,
				autoGenerateColumns: false,
				columns: [{
					key: "CountryName",
					headerText: "Country",
					dataType: "string",
					width: "33.33%"
				}, {
					key: "2005",
					headerText: "2005",
					dataType: "number",
					width: "33.33%"
				}, {
					key: "2015",
					headerText: "2015",
					dataType: "number",
					width: "33.33%"
				}],
				features: [{
					name: "Sorting",
					columnSettings: [{
						columnKey: "2015",
						currentSortDirection: "descending"
					}]
				},
				{
					name: "Filtering",
					type: "local",
					mode: "simple"
				},
				{
					name: "Paging",
					type: "local",
					pageSize: 5
				}]
			});
            // --- END SAMPLE SCRIPT YOU CAN REMOVE OR MODIFY --- //
        });
	</script>
</body>
</html>
